@charset "utf-8";
/* CSS Document */
*{
	box-sizing: border-box;
}

 body { 
	margin: 0; 
	padding: 0;
	background-color: #0c082b;
	height: 100%px;
	background-image: url("champs-page-bg/bg1.png")
}
header{
	position: fixed;
	top: 0px;
	z-index: 6;
	width: 100%;
	height: 50px;
	display:flex;
	justify-contet: space-between;
	align-items: center;
	padding: 0px 50px;
	background-color: #332795;
	box-shadow: 0px 5px 100px 10px rgba(0, 0, 0, 0.4);
}

.nav_links{
	list-style: none;
}
.nav_links li{
	display: inline-block;
	padding: 0px 20px;
	font-family: 'inter', sans-serif;
}
.nav_links li a{
	color: white;
	
	text-decoration: none;
	transition: all 0.17s ease 0s;
}
.nav_links li a:hover{
	color: #6A78EA;
}
.logo{
	user-select: none;
	font-family: 'Inter', sans-serif;
	color: white;
	font-style: italic;
	font-weight: 900;
	padding-right: 30px;
}
.pro-button{
	font-family: 'Inter', sans-serif;
	color: white;
	text-decoration: none;
	background-color: transparent;
	border: solid;
	border-width: 2px;
	border-color: white;
	border-radius: 50px;
	padding: 5px 15px;
	margin-left: 1800%;
	font-size: 14px;
	transition: background-color 0.3s, color 0.3s;
}
.pro-button:hover{
	background-color: white;
	color: #332795;
	cursor: pointer;
}
.poza{
	width: 1000px;
	height: 150px;
	object-fit: cover;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	transition: opacity 0.2s;
}
.poza1{
	width: 1000px;
	height: 150px;
	object-fit: cover;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	cursor: not-allowed;
}
.poza-align1{
	margin-top: 100px;
	margin-left: 60px;
	transition: opacity 0.2s;
}
.poza-align{
	margin-top: 50px;
	margin-left: 60px;
}
.poza-align2{
	margin-top: 50px;
	margin-left: 60px;

}
.poza:hover{
	opacity: 50%;
	cursor: pointer;
}
.poza:active{
	opacity: 25%;
}
.text{
	top: 55px;
	z-index: 5;
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	font-style: italic;
	text-align: right;
	width: 500px;
	color: white;
	font-size: 50px;
	position: absolute;
	right: 100px;
}
.text2{
	top: 790px;
	z-index: 5;
	font-family: 'Inter', sans-serif;
	font-weight: 900;
	font-style: italic;
	text-align: right;
	width: 700px;
	color: white;
	font-size: 30px;
	position: absolute;
	right: 100px;
}
.txt{
	color: #6b5ed4;
	font-weight: 900;
}